<section>
    <div class="footer-container">
        <div class="info-footer"  style="color: #fff; font-size: 25px; padding: 10px;">
            <h3 style="padding: 5px;">Contacto</h3>
            <p>
                <i class="fa fa-phone fa-lg icon-footer" aria-hidden="true"></i>
                <span>+52 1 4422263691</span>
            </p>
            <p>
                <i class="fa fa-envelope fa-lg icon-footer" aria-hidden="true"></i>
                <span>rvargas.itq@gmail.com</span>
            </p>
            <p>
                <i class="fa fa-map-marker fa-lg icon-footer" aria-hidden="true"></i>
                <span>Avenida universidad 354 - 1 San Antonio Mina </span>
            </p>

            <p>
                <span style="font-size: 15px;">Redes sociales</span> <br>
                <i class="fa fa-facebook fa-lg icon-footer" aria-hidden="true"></i>
                <i class="fa fa-twitter fa-lg icon-footer" aria-hidden="true"></i>
                <i class="fa fa-instagram fa-lg icon-footer" aria-hidden="true"></i>
            </p>
        </div>
        <!-- Mapa con Layer-->
        <!-- <section class="map-container">
        <div id="map" class="map" style="height: 100%;"></div>
    </section> -->
        <!--Mapa con Mapbox-->
        <div id="map-box"></div>
    </div>


</section>