/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
}

.map-container {
    width: 100%;
    height: 350px;
}

.footer-container {
    display: flex;
    flex-direction: row;
}

#map-box {
    width: 50%;
    height: 350px;
}

.info-footer {
    width: 50%;
    height: 350px;
    background: #000;
}

.icon-footer {
    margin: 0 10px;
}

/* Inicio de Productos */
.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: #FFD700;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #FFD700;
  }

  .product {
    padding: 20px;
    background: #fff;
    margin: 0 20px;
    border-radius: 5px;
  }

  .product:hover {
      background: #000;
      color: #fff;
      transition: 500ms;
  }

  .btn-product {
      border-radius: 10px;
      background: #ececec;
      border: 1px solid #bebebe;
  }

  .btn-product:hover {
      background: #FFD700;
      border: #000 solid 1px;
  }

  .title-product {
      font-size: large;
      font-weight: bold;
  }
/* Fin de estilos productos */

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column-reverse;
    }

    #map-box {
        width: 100%;
    }

    .info-footer {
        width: 100%;
    }
}

.container-products {
    overflow-y: auto;
    background: #ececec;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.container-products::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    display: block;
}

.container-products::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}