.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: #FFD700;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #FFD700;
  }

  .product {
    padding: 20px;
    background: #fff;
    margin: 0 20px;
    border-radius: 5px;
  }

  .product:hover {
      background: #000;
      color: #fff;
      transition: 500ms;
  }

  .btn-product {
      border-radius: 10px;
      background: #ececec;
      border: 1px solid #bebebe;
  }

  .btn-product:hover {
      background: #FFD700;
      border: #000 solid 1px;
  }

  .title-product {
      font-size: large;
      font-weight: bold;
  }
/**/
  .img-slider {
    widows: 100%;
    opacity: 0.3;
  }

  .img-slider:hover {
    opacity: 0.5;
  }